:root{
    --white-color : white;
    --black-color: black;
    --hight-header: 70px;
    --text-color: #656565;
    --shop-text-color: #252a2b;
    --text-color-hover: #1b4ea0;
}

.header{
    min-height: calc(90px + 39.2px);
}
.header .top-gb{
    background-color: #212026;
}
.header .contact{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
}
.header .contact>*{
    /* display: block; */
    padding: 0px;
    color: var(--white-color);
    padding: 0 5px;
    font-size: 1.6rem;
}
.header .contact>p{
    border-right: 1px solid white;
}

.header .top_info{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.6rem;
}
.header .top_info>*{
    color: var(--white-color);
    display: inline-block;
    padding: 0 5px;
}
.header .top_info>a+a{
    border-left: 1px solid white;
}

.header .bottom-bg{
    /* background-color: blue; */
    min-height: var(--hight-header);
    padding-top: 10px;
    padding-bottom: 10px;
}

.header .logo_header{
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo_header svg{
    height: 60px;
}

.header .menu{
    /* background-color: aqua; */
    height: var(--hight-header);
}

.header .menu .menu-primary{
    display: flex;
    justify-content: center;
    height: 100%;
}
.header .menu .menu-primary>li{
    position: relative;
}
.header .menu .menu-primary>li>a{
    display: block;
    color: var(--black-color);
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 0 15px;
    position: relative;
    /* background-color: red; */
    line-height: var(--hight-header);
}
@media (min-width: 1024px) and (max-width: 1239px) {
    .header .menu .menu-primary>li>a{
        font-size: 1.5rem;
    }
}
.header .menu .menu-primary>li+li>a::before{
    content: '>';
    position: absolute;
    right: 0;
    top: 45%;
    width: 10px;
    height: 10px;
    line-height: 10px;
    text-align: center;
    /* background-color: red; */
    rotate: 90deg;
    font-size: 1.5rem;
    color: rgba(47, 47, 47,0.8);
    transition: 0.2s linear;
}
.header .menu .menu-primary>li>a:hover::before{
    transform: rotate(180deg);
}
.header .menu .menu-primary>li>a::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: black;
    right: 0;
    bottom: 0;
    transition: 0.2s linear;
}

.header .menu .menu-primary>li>a:hover::after{
    width: 100%;
    left: 0;
}

.header .search-pc{
    height: 100%;
    display: flex;
    align-items: center;
}

.header .search-pc>form{
    background-color: #efefef;
    padding: 10px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.header .search-pc>form>button{
    border: none;
    background: none;
    cursor: pointer;
    /* line-height: var(--lh); */
}

.header .search-pc>form>button>svg{
    width: 19px;
    
}
.header .search-pc>form>input{
    /* line-height: var(--lh); */
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
    flex: 1 1 100%;
    width: 100%;

}

.header .login-cart{
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    height: 100%;

}
.header .login-cart>.user{
    position: relative;
    cursor: pointer;
    /* background-color: aquamarine; */
}
.header .login-cart>.user>.sub_user{
    position: absolute;
    background-color: white;
    display: block;
    width: 300px;
    top: calc(100% + 15px);
    right: 0;
    transform: translate(10%,0);
    box-shadow: 0 0 15px gray;
    border-radius: 10px;
    padding: 20px;
    display: none;
}
.sub_user.check{
    display: block !important;
    animation: sub_user .4s linear;
}
@keyframes sub_user{
    from{
        opacity: 0;
        transform: translate(10%,20%);
    }
    to{
        opacity: 1;
        transform: translate(10%,0);
    }
}

.header .login-cart>.user>.sub_user::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    top: -10px;
    right: 30px;
    transform: rotate(45deg);
}
.header .login-cart>.user>.sub_user>.not-login,
.header .login-cart>.user>.sub_user>.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.header .login-cart>.user>.sub_user>.not-login>a,
.header .login-cart>.user>.sub_user>.login>a{
    background-color: var(--black-color);
    display: block;
    min-width: 80%;
    text-align: center;
    padding: 10px;
    color: var(--white-color);
}
.header .login-cart>.user>.sub_user>.not-login>a:hover,
.header .login-cart>.user>.sub_user>.login>a:hover{
    opacity: 0.8;
}





.header .login-cart svg{
    width: 20px;
}
.header .login-cart .cart svg{
    width: 22px;
}

.header .login-cart .cart{
    position: relative;
}
.header .login-cart .cart .quantity{
    position: absolute;
    background-color: rgba(0, 0, 0,0.8);
    width: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;
    bottom: 70%;
    left: 50%;
}
.header .search-m{
    background-color: #efefef;
    /* padding: 5px; */
    display: flex;
    border-radius: 5px;
}
.header .search-m input{
    border: none;
    flex: 1;
    background: transparent;
    padding-left: 10px;
}
.header .search-m button{
    border: none;
    padding: 7px;
    padding-bottom: 2px;
    cursor: pointer;
    background: transparent;
}
.header .search-m button svg{
    width: 19px;
    
}
.header .search-m button:hover{
    background-color: black;
}
.header .search-m button:hover svg{
    fill: white;
}
.header .menu-mobile{
    /* background-color: red; */
    height: 100%;
    display: flex;
    align-items: center;
}
.header .menu-mobile svg{
    width: 20px;
}


.header .menu .sub-menu{
    display: none;
    position: absolute;
    background-color: rgb(205, 205, 205);
    top: 100%;
    left: 0;
    min-width: 150px;
}

.header .menu .sub-menu a{
    display: block;
    color: black;
    padding: 10px;
    transition: 0.3s linear;
}
.header .menu .sub-menu>li+li>a{
    border-top: 1px solid gray;
}
.header .menu .sub-menu a:hover{
    padding-left: 20px;
}

.header .menu .menu-primary>li:hover .sub-menu{
    display: block;
    animation: sub-menu 0.2s linear;
}
.block-nav .title{
    display: none;
}
.overlay{
    background-color: rgba(219, 218, 218,0.5);
    position: fixed;
    inset: 0;
    display: none;
}

@keyframes sub-menu {
    from{
        opacity: 0;
        transform: translateY(50%);
    }
    to{
        position: 1;
        transform: translateY(0);
    }
}

.header .close-menu{
    /* position: absolute; */
    display: none;
}
.header .close-menu svg{
    width: 20px;
}


@media (max-width: 1024px){
    .header{
        min-height: 116px;
    }
    .header .block-nav{
        --width-left : 320px;
        display: block;
        position: fixed;
        background-color: white;
        width: var(--width-left);
        top: 0;
        left: calc(0px - var(--width-left));
        bottom: 0;
        overflow-y: auto;
        z-index: 1;
        transition: .3s linear;
    }
    .header .block-nav .title{
        display: block;
        text-align: center;
        padding: 10px;
        font-weight: bold;
        font-size: 2rem;
    }
    .header .block-nav .menu-primary{
        flex-direction: column;
        height: auto;
    }
    .header .block-nav .menu-primary>li{
        /* background-color: aqua; */
        padding-left: 10px;
    }
    .header .block-nav .menu-primary>li+li{
        border-top: 1px solid gray;
    }
    .header .block-nav .menu-primary>li+li::before{
        content: '>';
        position: absolute;
        right: 10px;
        top: 15px;
        width: 10px;
        height: 10px;
        line-height: 10px;
        text-align: center;
        /* background-color: red; */
        rotate: 90deg;
        font-size: 1.5rem;
        color: rgba(47, 47, 47,0.8);
        transition: 0.2s linear;
    }
    .header .block-nav .menu-primary>li+li:hover::before{
        transform: rotate(180deg);
    }

    .header .block-nav .menu-primary>li>a{
        padding: 0;
        line-height: 3.6rem;
        /* background-color: red; */
        width: 85%;
        /* padding-left: 10px; */
    }
    .header .menu .menu-primary>li+li>a::before{
        /* right: -20px;  */
        display: none;
    }
    .header .menu .sub-menu{
        position: relative;
        display: block;
        max-height: 0;
        overflow: hidden;
        transition: all .5s linear;
        background: transparent;
    }
    .header .menu .sub-menu>li+li{
        border-top: none;
        /* border-top: 1px solid gray; */
    }
    .header .menu .sub-menu a{
        padding-left: 10px;
        border: none;
    }
    .header .block-nav .menu-primary>li+li:hover .sub-menu{
        max-height: 200px;
        /* animation: fff; */
    }
    .header .menu .sub-menu>li+li>a{
        border: none;
    }

    .header .menu .sub-menu a{
        border-top: 1px solid gray !important;
    }

    .header .close-menu{
        display: block;
        position: absolute;
        right: 8px;
        top: 8px;
    }
    .header .close-menu:hover svg{
        fill: red;
    }

    .check:checked ~ .block-nav{
        left: 0;
    }
    .check:checked ~ .overlay{
        display: block;
    }

}

.bottom-bg{
    transition: all 0.4s linear;
}



.bottom-bg.fixed{
    position: fixed;
    top: -150px;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 5px 10px rgba(189, 188, 188,0.7);
    z-index: 1;
    transition: all .3s linear;
}



/* @media (max-width: 1024px){
    .bottom-bg.fixed{
        top: -116px;
    }
} */




/* Footer */

.footer .footer_top{
    background: #1b4ea0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer .footer_top .left svg{
    /* background-color: aqua; */
    width: 20px;
    height: 20px;
}
.footer .footer_top .row_ct{
    align-items: center;
}
.footer .footer_top .left{
    text-align: right;
    padding-right: 10px;
}
.footer .footer_top .left h3{
    color: var(--white-color);
    font-size: 2.4rem;
    font-weight: 700;
}
.footer .footer_top .left .text{
    font-size: 1.5rem;
    color: var(--white-color);
    margin-top: 10px;
}

.footer .footer_top .right{
    padding-left: 10px;
    
}

.footer .footer_top .right form{
    background-color: white;
    width: fit-content;
    display: block;
    padding: 3px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 80%;
}
.footer .footer_top .right form button{
    line-height: 45px;
    font-size: 1.5rem;
    font-weight: 700;
    padding-left: 35px;
    padding-right: 35px;
    border: none;
    border-radius: 4px;
    background: #1b4ea0;
    color: var(--white-color);
    cursor: pointer;
}
.footer .footer_top .right form button:hover{
    box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
    inset -4px -4px 6px -1px rgba(255,255,255,0.7),
    -0.5px -0.5px 0px rgba(255,255,255,1),
    0.5px 0.5px 0px rgba(0,0,0,0.15),
    0px 12px 10px -10px rgba(0,0,0,0.05);
    background: #3964a8;

}
.footer .footer_top .right form input{
    padding: 10px;
    flex: 1;
    font-size: 1.5rem;
    border: none;
}
.footer .footer_top .right form input::placeholder{
    font-size: 1.5rem;
    font-style: italic;
}
@media (max-width: 1024px){
    .row_ct{
        row-gap: 15px;
    }
    .footer .footer_top .left{
        text-align: center;
    }
    .footer .footer_top .right{
        display: grid;
        place-items: center;
    }
}
@media (max-width: 500px){
    .footer .footer_top .right form{
        width: 100%;
    }
}

@media (max-width: 415px){
    .footer .footer_top .right form button{
        padding: 7px;
        line-height: 28px;
    }
}

.footer .footer_mid{
    padding-top: 30px;
    padding-bottom: 20px;
}
.footer .footer_mid .content>.title{
    font-size: 2rem;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(52, 52, 52);
}

.footer .footer_mid .content>.sub.ul>li>a{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    color: var(--text-color);
    font-size: 1.5rem;
}
.footer .footer_mid .content>.sub.ul>li>a:hover{
    color: #1b4ea0;
}

.footer .footer_mid .content>.sub.adress>.img svg{
    height: 60px;
}
.footer .footer_mid .content>.sub>.item{
    margin-top: 15px;
}
.footer .footer_mid .content>.sub>.item>.title{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color);
}
.footer .footer_mid .content>.sub>.item>.text{
    color: var(--text-color);
    margin-top: 5px;
}
.footer .footer_mid .content>.sub>.item>.text>strong{
    font-weight: 500;
}

@media (max-width: 739.5px){
    .footer .footer_mid{
        padding-top: 20px;
    }

    .footer .footer_mid .content>.title{
        font-size: 1.7rem;
        position: relative;
        /* background-color: #1b4ea0; */
    }
    .footer .footer_mid .content>.title::before{
        content: '<';
        position: absolute;
        /* background-color: red; */
        line-height: 20px;
        width: 20px;
        text-align: center;
        font-size: 2.5rem;
        font-weight: 400;
        right: 10px;
        border-radius: 50%;
        transform: rotate(-90deg);
        top: 10%;
        transition: all .3s linear;
    }

    .footer .footer_mid .content>.sub{
        transition: all .5s linear;
        max-height: 0;
        overflow: hidden;
    }
    .footer .footer_mid .content:hover .title::before{
        transform: rotate(90deg);
    }
    .footer .footer_mid .content:hover .sub{
        max-height: 500px;
    }
}


.footer .footer_bottom{
    background-color: #dfdfdf;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer .footer_bottom .row_ct{
    justify-content: center;
    align-items: center;
}

.footer .footer_bottom .img{
    width: 100%;
    display: grid;
    place-items: center;
}
.footer .footer_bottom .img img{
    width: 120px;
}
.footer .footer_bottom .more{
    /* background-color: red; */
    text-align: center;
}
.footer .footer_bottom .more a{
    color: var(--shop-text-color);
    padding: 5px;
    font-size: 1.5rem;
}
.footer .footer_bottom .more a:hover{
    color: var(--text-color-hover);
}
.footer .footer_bottom .coppyright{
    text-align: center;
    margin-top: 8px;
    font-size: 1.5rem;
}
.footer .footer_bottom .text{
    font-size: 1.5rem;
}

@media (max-width: 1239px){
    .footer .footer_bottom .text p{
        text-align: center;
    }
}